.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/
alchemy_cms
public/javascripts/alchemy
public/images/alchemy
public/stylesheets/alchemy
uploads
public/javascripts/tinymce_hammer.js
public/javascripts/jquery-with-plugins.js
public/assets/
index/*
public/pictures/
/.rvmrc
/config/database.yml
public/system
.env
