<div class="info_table" id="<%= element_dom_id(element) %>"<%= element_preview_code(element) -%>>
	<div class="content features">
		<h1><%= render_essence_view_by_name(element, 'headline') %></h1>
		<%= render_essence_view_by_name(element, 'features') %>
	</div>
</div>
