<header>
  <div id="bordure"></div>
  <div class="row">
    <div class="five columns">
      <%= link_to(image_tag("alchemy_logo.svg"), "/", :id => :logo) %>
    </div>
    <nav class="seven columns" id="main_navigation">
      <%= render_navigation all_sub_menues: true, css_class: 'nav-bar' %>
    </nav>
  </div>
</header>
