<div class="four columns">
  <div class="info_table">
    <p>Wrote your own Alchemy extension or know of one not listed here?</p>
    <p><%= link_to 'Register an extension', new_extension_path, class: 'button' %></p>
  </div>
</div>
