<div id="content" class="row">
  <div class="small-12 columns">
    <%= link_to '< back', :back %>
    <h1>Register an Alchemy extension</h1>
    <hr>
  </div>
  <div class="small-12 large-8 columns">
    <%= render 'form' %>
  </div>
  <div class="small-12 large-4 columns">
    <div class="info_table">
      <p>How to register:</p>
      <ol>
        <li>Enter a meaningful name for the extension</li>
        <li>Enter the name of the maintainer</li>
        <li>Enter a link to the repository or gem, where users can download the extension</li>
        <li>Enter some keywords for the extension</li>
        <li>Enter a short description of what the extension provides</li>
      </ol>
    </div>
  </div>
</div>
