<% cache(cell) do %>
  <% if cell.elements.published.any? %>
  <div class="slide-row">
    <div class="row" id="slide_gallery_container">
      <div class="slideshow-wrapper small-12 columns">
        <ul id="slide_gallery" data-orbit>
          <%= render_elements(from_cell: cell) %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
