<p><%= @extension.name %></p>
<p><%= @extension.maintainer %></p>

<%= simple_format Kramdown::Document.new(@extension.description).to_html %>

<%= link_to 'bearbeiten', edit_admin_extension_url(@extension) %>
