<div id="content" class="row">
  <div class="twelve columns">
    <%= link_to '< back', :back %>
    <h1>Register an Alchemy showcase</h1>
    <hr>
  </div>
  <div class="eight columns">
    <%= render 'form' %>
  </div>
  <div class="four columns">
    <div class="info_table">
      <p>How to register:</p>
      <ol>
        <li>Enter a title for the site</li>
        <li>Enter the name of the creator of the site</li>
        <li>Enter a link to the site</li>
        <li>Add a nice screenshot</li>
      </ol>
      <p>After reviewing your site, we will publish it.</p>
    </div>
  </div>
</div>
