<%= render "alchemy/shared/header" %>
<div id="bubbles"></div>
<%= render_cell(:slide_gallery) %>
<div id="content" class="container">
	<%= render_elements %>
</div>
<%= render "alchemy/shared/footer" %>
