<%= render_elements(only: :slide_gallery, fixed: true) %>

<div id="content">
  <div class="row">
    <div class="small-12 columns">
      <%= render_elements only: 'headline' %>
    </div>
  </div>
  <div class="row">
    <%= render_elements(only: :left_column, fixed: true) %>
    <%= render_elements(only: :right_column, fixed: true) %>
  </div>
</div>
