<% cache(element) do %>
  <%= element_view_for(element, class: 'small-12 large-4 columns') do |el| %>
    <h3><%= el.render :headline %></h3>
    <% if element.has_ingredient?(:addthis_profile) %>
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_google"></a>
        <a class="addthis_button_email"></a>
      </div>
      <script async type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=<%= el.ingredient(:addthis_profile) %>"></script>
    <% end %>
    <%= el.render :bigtext %>
  <% end %>
<% end %>