<% cache(slide_gallery_view) do %>
  <% if slide_gallery_view.nested_elements.published.published.any? %>
  <div class="slide-row">
    <div class="row" id="slide_gallery_container">
      <div class="slideshow-wrapper small-12 columns">
        <ul id="slide_gallery" data-orbit>
          <%= render slide_gallery_view.nested_elements.published %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
