.extension-detail {
  h1 { margin-bottom: 0 }
  h3 { padding: 0; margin-top: 0 }
}

.extensions-list, .showcases-list {
  width: 100%;
  list-style-type: none;
  margin-left: 0;

  h3 {
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 2em;

    p { margin: 0.5em 0 }
  }
}

.extension-description {
  margin: 0 0 8em 0;

  h1, h2, h3, p {
    font-family: inherit;
    margin: 1em 0;
  }

  h1 {
    font-size: 26px;
    margin-top: 0;
  }
  h2 { font-size: 20px }
  h3 { font-size: 16px }
}

nav.pagination {
  margin-bottom: 1em;

  // prevent pagination buttons from being full width in mobile views
  .button {
    display: inline-block !important;
  }
}
