body {
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: $header-height;
}

// Headline fonts

h1 {
  text-decoration: underline;
  text-decoration-color: $alchemy_orange;
  text-decoration-skip-ink: auto;
}

// Body fonts
p {
  margin-bottom: 20px;
}

a {
  transition: all 0.1s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

//

.flash.row {
  margin-top: 1em;
}

code {
  font: 12px Menlo, Monaco, mono;
  background-color: #F4F4F4;
}

pre {
  background: $anthrazit;
  color: #eed785;
  padding: 1em;
  font: 12px/1.5em Menlo, Monaco, mono;
  text-align: left;
  overflow-x: auto;
  overflow-y: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  background: $alchemy_gray;
  color: #fff;
  width: 100%;
  min-height: $header-height;

  &.small {
    min-height: $header-height / 2;

    #logo {
      width: 150px;
    }
  }

  .row, .columns {
    display: flex;
  }

  .columns {
    align-items: center;
    justify-content: flex-start;
  }
}

#logo {
  display: block;
  width: 100%;
  transition: width 0.3s;
  padding: 1em 0;

  img {
    margin-left: -0.25em;
  }
}

#main_navigation {
  .nav-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translateX(1em);
  }

  li {
    box-shadow: none;
    position: relative;
    margin: 0 0.5em;
    border: 0;
  }

  a {
    padding: 0 0.5em;
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.2s;

    &:hover {
      color: $alchemy_orange;
    }

    &.active {
      color: $alchemy_orange;
    }
  }
}

.slide-row {
  width: 100%;
  height: auto;
  min-height: 650px;
  margin: 0 auto;
  background-color: $alchemy_gray;
  border-bottom: 2px solid $alchemy_orange;
  padding-top: 4em;

  #slide_gallery_container {
    margin: auto;
    padding: auto;

    .orbit-timer { display: none }
  }
}

#content {
  padding: 4em 0;
  min-height: 300px;

  img {
    border: 1px solid $alchemy_blue;
  }

  a:hover img {
    border-color: $alchemy_orange;
  }
}

footer {
  background: $alchemy_gray;
  color: $gray_light;
  padding-top: 40px;
  padding-bottom: 60px;
  width: 100%;

  p {
    margin: 0;
    margin-bottom: 1em;
  }

  a {
    color: $alchemy_orange;

    &:hover {
      color: $gray_ultralight;
    }
  }

  h3 {
    color: $gray_ultralight;
    margin-bottom: 20px;
  }
}

.invisible { visibility: hidden }
.hidden { display: none !important }

.success {
  padding: 12px;
  background: $alchemy_orange;
  color: #fff;
}

.addthis_toolbox {
  margin-bottom: 1em;
}

.info_table {
  background-color: transparentize($gray_medium, 0.5);
  border-radius: 0;
  padding: 20px;
  margin-bottom: 2em;

  li {
    font-weight: 600;
    margin-bottom: 12px;
    background-color: none;
    border-bottom: 0 none;

    &:last-child {
      border-bottom: 0 none;
    }
  }
}

.screenshot.row, .gallery.row {
  margin-bottom: 2em;

  a {
    margin-bottom: 42px;
    font-weight: normal;
    line-height: 18px;
  }

  figure {
    min-height: 315px;
  }

  img {
    margin-bottom: 15px;
  }
}

figure {
  margin: 0;
}

.gallery {
  figure {
    margin-bottom: 1em
  }
}

figcaption {
  line-height: 1.5em
}

button {
  border-radius: 0;
}
