body {
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headline fonts

h1 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 45px;
  color: $alchemy_gray;
  text-decoration: none;
}

h2 {
  padding-top: 20px;
  font-size: 28px;
  line-height: 1.2;
  color: $gray_extra;
}

h3 {
  color: $marine;
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 20px;
  padding-top: 20px;
}

// Body fonts
p {
  margin-bottom: 20px;
}

a {
  transition: all 0.1s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

//

#bordure {
  background: $alchemy_gray;
  height: 30px;
}

.flash.row {
  margin-top: 1em;
}

code {
  font: 12px Menlo, Monaco, mono;
  background-color: #F4F4F4;
}

pre {
  background: $anthrazit;
  color: #eed785;
  padding: 1em;
  font: 12px/1.5em Menlo, Monaco, mono;
  text-align: left;
  overflow-x: auto;
  overflow-y: none;
}

header {
  background: $alchemy_blue;
  color: #FFF;
  width: 100%;
  min-height: 140px;
  border-bottom: 4px solid $alchemy_green;

  .container {
    height: 135px;
    padding: 0px;
    overflow: visible;
  }
}

#logo {
  display: block;
  width: 300px;
  height: 91px;
  margin: -10px 0 6px 0;

  img {
    margin-left: -10px;
    margin-top: 17px;
  }
}

#main_navigation {
  margin-top: 28px;

  .nav-bar {
    margin: 0;
    padding: 0;
    background: transparent;
    list-style-type: none;
  }

  li {
    box-shadow: none;
    position: relative;
    float: left;
    margin-right: 20px;
    border: 0;

    &.last {
      margin-right: 0px;
    }

    &:hover {
      background: transparent;
    }

    &.active {
      background-color: $alchemy_blue;
    }
  }

  a {
    padding: 13px 5px 0px 0;
    position: relative;
    left: 0;
    top: 0;
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: $alchemy_gray;
    font-weight: 900;
    text-transform: uppercase;

    transition: all 0.1s ease-in-out;

    &:hover {
      color: $gray_extra;
    }

    &.active {
      color: $alchemy_green;
    }
  }
}

#slide_gallery {

  h1, h2 {
    position: absolute;
    right: 0;
    top: 80px;
    margin: 0;
    left: auto;
  }

  h1 {
    line-height: 42px;
    color: $marine;
    text-transform: uppercase;
    margin-top: 60px;
  }

  h2 {
    padding-top: 20px;
  }
}

.slide-row {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: $gray_ultralight;
  border-bottom: 1px solid $gray_ultralight;

  #slide_gallery_container {
    margin: auto;
    padding: auto;

    .orbit-timer { display: none }
  }
}

#content {
  padding-bottom: 110px;
  padding-top: 70px;
  min-height: 300px;
  margin-bottom: -75px;
  margin-top: -35px;

  img {
    border: 1px solid $marine;
  }

  a img {
    border-color: $alchemy_green;
  }
}

footer {
  background: $alchemy_gray;
  color: $gray_light;
  padding-top: 40px;
  padding-bottom: 60px;
  width: 100%;

  p {
    margin: 0;
    margin-bottom: 1em;
  }

  a {
    color: $alchemy_green;

    &:hover {
      color: $gray_ultralight;
    }
  }

  h3 {
    color: $gray_ultralight;
    margin-bottom: 20px;
  }
}

.invisible { visibility: hidden }
.hidden { display: none !important }

.success {
  padding: 12px;
  background: $alchemy_green;
  color: #fff;
}

.addthis_toolbox {
  margin-bottom: 1em;
}

.info_table {
  background-color: transparentize($gray_medium, 0.75);
  border-radius: 0;
  padding: 20px;
  margin-bottom: 2em;

  li {
    font-weight: 600;
    margin-bottom: 12px;
    background-color: none;
    border-bottom: 0 none;

    &:last-child {
      border-bottom: 0 none;
    }
  }
}

.screenshot.row, .gallery.row {
  margin-bottom: 2em;

  a {
    margin-bottom: 42px;
    color: $alchemy_green;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: $belize_blue;
      text-decoration: underline;
    }
  }

  img {
    margin-bottom: 15px;
  }
}

figure {
  margin: 0;
}

.gallery {
  figure {
    margin-bottom: 1em
  }
}

figcaption {
  line-height: 1.5em
}
