// key colors
$alchemy_blue: #2d5a8d;
$alchemy_orange: #eca96e;
$alchemy_gray: rgb(51, 59, 81);

// additional colors
$belize-blue: #2980B9;
$marine: #34495E;
$marine_dark: #2C3E50;
$gray_ultralight: #f7f7f7;
$gray_light: #f7f7f7;
$gray_medium: #efefef;
$gray_dark: #95A5A6;
$gray_extra: #7F8C8D;

// custom colors
$anthrazit: darken($alchemy_blue, 80);
$anthrazit_light: lighten($anthrazit, 10);
$alchemy_dark_blue: darken($alchemy_blue, 50);

$alert_red: #ab2e38;
