<%- if cell.elements.any? %>
<div class="container">
	<div id="slide_gallery" class="grid_12">
		<%= render_cell_elements(cell) -%>
	</div>
	<%- if cell.elements.count > 1 -%>
	<div id="pager"></div>
	<%- end -%>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
	  jQuery('#slide_gallery').cycle({ 
		    fx:     'scrollHorz', 
		    speed:  '400', 
		    timeout: 5000, 
		    pager: '#pager'
		});
	});
</script>
<%- end -%>
