name: Deploy with Capistrano

on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: miloserdow/capistrano-deploy@v1.3
      with:
        target: production
        deploy_key: ${{ secrets.DEPLOY_ENC_KEY }}
